body {
	font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5; /*espaçamento entre as linhas*/
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.cabecalho-principal {
	text-align: center;
    background-color: #851944;
    background-image: url(https://66.media.tumblr.com/3ef90c696ab6cf6b8622764d760e3b13/tumblr_ojkxuhdnKJ1tndn6wo1_540.gif);
    background-repeat: round;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

.citacoes {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
}

.citacoes, aside, footer {
    padding: 20px;
}

.primeira-citacao, .data-post{
    float: right;
}

.segunda-citacao,.imagem-personagem{
    float: left;
}

cite {
    font-style: italic;
    float: right;
}

.imagem-personagem{
    width: 100%;
}

.navegacao {
	background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    box-sizing: border-box;
}

.navegacao a {
    color:inherit;  
    font-family: "Open Sans Condensed", sans-serif;
}

.navegacao h1 {
	font-size: 30px;
	margin-bottom: 25px;
}


main a {
	color: #851944;
}

main {
    width: 70%;
    float: left;
    padding-bottom: 80px;
}

.img-principal, aside {
    width: 30%;
    float: right;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
}

.conteudo-centralizado {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.icone-social{
    display: inline-block;
}

.icone-social a {
    width: 40px;
    height: 40px;
    display: inline-block;  
    text-indent: -99999px; /*joga o texto do link pra fora da página*/
}

.github{
    background-image: url("../icons/github.png");
}

.twitter{
    background-image: url("../icons/twitter.png");
}

.linkedin{
    background-image: url("../icons/linkedin.png");
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}


section{
    clear: left;
}

.rodape {
	background-color: #000;
    color: #F2FFFC;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}