/*img{
   
   transform: skew(20deg)
               rotate(30deg) várias de uma vez
               scale(1.2)
               translate(100px, 10px);
   
}*/

/*
img{
    transform: scale(0.2); aumentar/ diminuir o tamanho
}*/

/*
img{
    transform: skew(20deg); estica as pontas
}*/

/*
img{
    transform: rotate(30deg); rotaciona 30 graus
}*/

/*
img{
    transform: translate(100px, 10px); translada 100 pixeis para a direita e 10 para baixo
}*/

